<!-- <nav>
    <ul>
        <li>
             <a routerLink="/demos/bindings">Bindings</a>
        </li>
        <li>
            <a routerLink="/demos/pipes">Pipes</a>
        </li>
        <li>
            <a routerLink="/demos/directives">Directives</a>
        </li>
    </ul>

    <ul>
        <li>
            <a routerLink="/exos/chrono">Chrono</a>
        </li>
    </ul>
</nav> -->

<nav>
    <ul>
        @for (link of links; track link) {
            <li dropMenu>
                <a [routerLink]="link.url">{{link.title}}</a>

                <ul>
                    @for (child of link.children; track child) {
                        <li>
                            <a [routerLink]="child.url">{{child.title}}</a>
                        </li>
                    } @empty {
                        {{null}}
                    }
                </ul>
            </li>
        }
    </ul>
</nav>
